* {
  color: slate;
  margin: 4px;
  padding: 10px;
}


#nav, #allBuoys, #favBuoys {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

#section-wrapper{
  position: relative;
}

#allBuoys, #favBuoys {
  position: absolute;
}

.hidden {
  visibility: hidden;
}

/*all buttons*/
#showAll, #showFavs, .fav-toggle, .data-toggle {
  background-color: white;
  border: 3px solid lightgray;
  border-radius: 4px;
  cursor: pointer;
}

.favorite {
  background-color: lightcoral;
}

/*inputs*/
#distance, #location {
  border: 2px dotted lightgray;
  border-radius: 4px;
  background-color: white;
}

.buoy {
  display: flex;
  border: 1px dashed gray;
  border-radius: 4px;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
